In [ ]:
# importing libraries -
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# reading the data file

In [ ]:
df=pd.read_csv('netflix_titles.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6869,s6870,Movie,Goldstone,Ivan Sen,"Aaron Pedersen, Alex Russell, Jacki Weaver, Ch...",Australia,"December 10, 2018",2016,R,110 min,Thrillers,"In the Australian outback, an Indigenous cop o..."
814,s815,Movie,The Four Seasons,Alan Alda,"Alan Alda, Carol Burnett, Len Cariou, Sandy De...",United States,"June 2, 2021",1981,PG,108 min,"Comedies, Romantic Movies",Three middle-aged couples vacation together ev...
5359,s5360,Movie,Raising the Bar,Clay Glen,"Kelli Berglund, Lili Karamalikis, Tess Fowler,...",Australia,"August 1, 2017",2016,TV-Y,97 min,"Children & Family Movies, Dramas, Sports Movies",A teenager who gave up her spot in an elite U....
5311,s5312,Movie,The Guardian Brothers,Gary Wang,"Edward Norton, Dan Fogler, Mike Birbiglia, Bel...",China,"September 1, 2017",2016,TV-G,86 min,"Children & Family Movies, Comedies",When a Chinese family's soup shop is targeted ...
6855,s6856,Movie,"Girl, Boy, Bakla, Tomboy",Wenn V. Deramas,"Vice Ganda, Maricel Soriano, Joey Marquez, Ruf...",Philippines,"February 27, 2019",2013,TV-14,103 min,"Comedies, International Movies",Quadruplets separated as babies reunite in Man...
622,s623,Movie,Lying and Stealing,Matt Aselton,"Theo James, Emily Ratajkowski, Fred Melamed, E...",United States,"June 30, 2021",2019,R,100 min,Thrillers,A talented thief teams up with an aspiring act...
4351,s4352,Movie,A Christmas Prince: The Royal Wedding,John Schultz,"Rose McIver, Ben Lamb, Alice Krige, Simon Dutt...",United States,"November 30, 2018",2018,TV-PG,93 min,"Children & Family Movies, Dramas, Romantic Movies","A year after helping Richard secure the crown,..."
7174,s7175,Movie,Kay Dyache Bola,Chandrakant Kulkarni,"Makarand Anaspure, Akshay Pendse, Umesh Kamat,...",India,"January 1, 2018",2005,TV-14,133 min,"Comedies, Dramas, International Movies","Wrongfully accused of murder, two students' la..."
3142,s3143,Movie,Lakshya,Farhan Akhtar,"Amitabh Bachchan, Hrithik Roshan, Preity Zinta...",India,"December 15, 2019",2004,TV-PG,185 min,"Action & Adventure, Dramas, International Movies","After dropping out of the army, a spoiled teen..."
6961,s6962,Movie,Here Alone,Rod Blackhurst,"Lucy Walters, Gina Piersanti, Adam David Thomp...",United States,"July 1, 2017",2016,TV-MA,97 min,Horror Movies,When she finally encounters two other survivor...

In [ ]:
df.shape

(8807, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
show_id,8807,8807,s1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type,8807,2,Movie,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,8807,8807,Dick Johnson Is Dead,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
director,6173,4528,Rajiv Chilaka,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cast,7982,7692,David Attenborough,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,7976,748,United States,2818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_added,8797,1767,"January 1, 2020",109,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_year,8807.0,NaN,NaN,NaN,2014.180198,8.819312,1925.0,2013.0,2017.0,2019.0,2021.0
rating,8803,17,TV-MA,3207,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,8804,220,1 Season,1793,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listed_in,8807,514,"Dramas, International Movies",362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,8807,8775,"Paranormal activity at a lush, abandoned prope...",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# checking null values -
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
df['type'].value_counts(normalize=True) * 100

Movie      69.615079
TV Show    30.384921
Name: type, dtype: float64

In [ ]:
constraint1=df['director'].apply(lambda x: str(x).split(', ')).tolist()
constraint1

[['Kirsten Johnson'],
 ['nan'],
 ['Julien Leclercq'],
 ['nan'],
 ['nan'],
 ['Mike Flanagan'],
 ['Robert Cullen', 'José Luis Ucha'],
 ['Haile Gerima'],
 ['Andy Devonshire'],
 ['Theodore Melfi'],
 ['nan'],
 ['Kongkiat Komesiri'],
 ['Christian Schwochow'],
 ['Bruno Garotti'],
 ['nan'],
 ['nan'],
 ['Pedro de Echave García', 'Pablo Azorín Williams'],
 ['nan'],
 ['Adam Salky'],
 ['nan'],
 ['Olivier Megaton'],
 ['nan'],
 ['K.S. Ravikumar'],
 ['Alex Woo', 'Stanley Moore'],
 ['S. Shankar'],
 ['nan'],
 ['Rajiv Menon'],
 ['Dennis Dugan'],
 ['Scott Stewart'],
 ['Robert Luketic'],
 ['Ashwiny Iyer Tiwari', 'Abhishek Chaubey', 'Saket Chaudhary'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Daniel Sandu'],
 ['Cédric Jimenez'],
 ['nan'],
 ['George Nolfi'],
 ['nan'],
 ['nan'],
 ['Steven Spielberg'],
 ['Jeannot Szwarc'],
 ['Joe Alves'],
 ['Joseph Sargent'],
 ['Tyler Greco'],
 ['Daniel Espinosa'],
 ['Bunmi Ajakaiye'],
 ['Antoine Fuqua'],
 ['nan'],
 ['nan'],
 ['Toshiya Shinohara'],
 ['Toshiya Shinohara'],
 ['Toshiya Shinohara'],
 ['Toshiya Shinohara'],
 ['nan'],
 ['Masahiko Murata'],
 ['Hajime Kamegaki'],
 ['Masahiko Murata'],
 ['Hajime Kamegaki'],
 ['Masahiko Murata'],
 ['Hirotsugu Kawasaki'],
 ['Toshiyuki Tsuru'],
 ['Tensai Okamura'],
 ['David Yarovesky'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Hanns-Bruno Kammertöns', 'Vanessa Nöcker', 'Michael Wech'],
 ['nan'],
 ['nan'],
 ['David A. Vargas'],
 ['nan'],
 ['Kemi Adetiba'],
 ['nan'],
 ['Ben Simms'],
 ['nan'],
 ['Prakash Satam'],
 ['Delhiprasad Deenadayalan'],
 ['Delhiprasad Deenadayalan'],
 ['Tomer Eshed'],
 ['Cedric Nicolas-Troyan'],
 ['nan'],
 ['nan'],
 ['JJC Skillz', 'Funke Akindele'],
 ['nan'],
 ['Thomas Sieben'],
 ['nan'],
 ['Marcus Clarke'],
 ['nan'],
 ['Alice Waddington'],
 ['Mona Achache', 'Patricia Tourancheau'],
 ['nan'],
 ['Alexis Almström'],
 ['Raja Gosnell'],
 ['nan'],
 ['Stephen Kijak'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Chapman Way', 'Maclain Way'],
 ['Jason Hehir'],
 ['Yemi Amodu'],
 ['nan'],
 ['Lijo Jose Pellissery'],
 ['nan'],
 ['David de Vos'],
 ['nan'],
 ['nan'],
 ['Luis Alfaro', 'Javier Gómez Santander'],
 ['nan'],
 ['Sara Colangelo'],
 ['Stephen Herek'],
 ['Rahul Rawail'],
 ['Jane Campion'],
 ['Nagesh Kukunoor'],
 ['Luke Holland'],
 ['Shanker Raman'],
 ['JP Habac'],
 ['nan'],
 ['nan'],
 ['Jane Campion'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Vidhu Vinod Chopra'],
 ['Mark Rosman'],
 ['Gilles Paquet-Brenner'],
 ['Lasse Hallström'],
 ['Scott Pleydell-Pearce'],
 ['Ridley Scott'],
 ['nan'],
 ['Neill Blomkamp'],
 ['Phillip Noyce'],
 ['Renny Harlin'],
 ['Anthony Minghella'],
 ['Simon Wincer'],
 ['Lasse Hallström'],
 ['Spike Lee'],
 ['Sebastián Schindel'],
 ['Steven C. Miller'],
 ['Richard LaGravenese'],
 ['Martin Campbell'],
 ['Reginald Hudlin'],
 ['George Jackson', 'Doug McHenry'],
 ['Eric Meza'],
 ['nan'],
 ['Gerhard Mostert'],
 ['Michael Martin'],
 ['Michael Rymer'],
 ['Andrew Lau Wai-keung', 'Alan Mak'],
 ['Brett Weiner'],
 ['nan'],
 ['nan'],
 ['Jim Henson'],
 ['Gary Winick'],
 ['Danishka Esterhazy'],
 ['Troy Byer'],
 ['Pang Ho-cheung'],
 ['nan'],
 ['Tim Burton'],
 ['Reginald Hudlin'],
 ['David Zucker'],
 ['Kinka Usher'],
 ['nan'],
 ['Sergio Leone'],
 ["Matthew O'Callaghan", 'Todd Wilderman'],
 ['Bobby Farrelly', 'Peter Farrelly'],
 ['Wolfgang Petersen'],
 ['Peter Spirer'],
 ['Michael Carney'],
 ['Richard Linklater'],
 ['Amy Rice'],
 ['Antoine Fuqua'],
 ['Randal Kleiser'],
 ['Michael Ritchie'],
 ['J. Lee Thompson'],
 ['Evan Goldberg', 'Seth Rogen'],
 ['Tom Shadyac'],
 ['Peter Segal'],
 ['nan'],
 ['Malcolm D. Lee'],
 ['Wolfgang Petersen'],
 ['nan'],
 ['Chapman Way', 'Maclain Way'],
 ['nan'],
 ['nan'],
 ['Ramzy Bedia', 'Éric Judor'],
 ['nan'],
 ['Sharan Koppisetty'],
 ['Taylor Sheridan'],
 ['Sachin Yardi'],
 ['nan'],
 ['nan'],
 ['Saurabh Kabra'],
 ['Mark Waters'],
 ['nan'],
 ['Kemi Adetiba'],
 ['Partho Mitra'],
 ['Santram Varma'],
 ['Anil V. Kumar', 'Anurag Basu'],
 ['Sangeeth Sivan'],
 ['Umesh Ghadge'],
 ['Sachin Yardi'],
 ['David Dhawan'],
 ['Dibakar Banerjee'],
 ['Apoorva Lakhia'],
 ['Milan Luthria'],
 ['Milan Luthria'],
 ['Pawan Kripalani'],
 ['Bhushan Patel'],
 ['nan'],
 ['nan'],
 ['Magnus Martens'],
 ['Apoorva Lakhia'],
 ['Raj Nidimoru', 'Krishna D.K.'],
 ['Milan Luthria'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Joshua Rofé'],
 ['Brad Anderson'],
 ['Mauricio Dias', 'Tatiana Villela'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Angel Kristi Williams'],
 ['Roger Donaldson'],
 ['Christopher Alender'],
 ['Rush Sturges'],
 ['David Oyelowo'],
 ['nan'],
 ['Mark Lo'],
 ['nan'],
 ['Crystal Moselle'],
 ['Rathindran R Prasad'],
 ['Rathindran R Prasad'],
 ['Rathindran R Prasad'],
 ['Rathindran R Prasad'],
 ['Han Kwang Il'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Karim El Shenawy'],
 ['nan'],
 ['Yin Chen-hao'],
 ['Brian Andrew Mendoza'],
 ['nan'],
 ['Dave Needham'],
 ['Veronica Velasco'],
 ['Drake Doremus'],
 ['Miguel Alexandre'],
 ['Mani Ratnam'],
 ['nan'],
 ['Michael Harte'],
 ['Tosin Igho'],
 ['Mani Ratnam'],
 ['Alice Filippi'],
 ['Paakhi Tyrewala'],
 ['nan'],
 ['Bruno Garotti'],
 ['Laura Brownson'],
 ['nan'],
 ['Steve Brill'],
 ['nan'],
 ['nan'],
 ['Jane Campion'],
 ['Moses Inwang'],
 ['nan'],
 ['Ferdinando Cito Filomarino'],
 ['nan'],
 ['nan'],
 ['Juan Carlos Medina'],
 ['nan'],
 ['nan'],
 ['Inma Torrente'],
 ['nan'],
 ['Julián Gaviria'],
 ['Steven Yamamoto'],
 ['nan'],
 ['Charles Uwagbai'],
 ['Julián Hernández'],
 ['Sam Hobkinson'],
 ['Vince Marcello'],
 ['Jonathan Teplitzky'],
 ['nan'],
 ['Sakon Tiacharoen'],
 ['nan'],
 ['nan'],
 ['Floyd Russ'],
 ['nan'],
 ['Dustin Hoffman'],
 ['Adze Ugah'],
 ['Hideaki Takizawa'],
 ['Quoc Bao Tran'],
 ['nan'],
 ['Bejoy Nambiar',
  'Priyadarshan',
  'Karthik Narain',
  'Vasanth Sai',
  'Karthik Subbaraj',
  'Arvind Swamy',
  'Rathindran R Prasad',
  'Sarjun',
  'Gautham Vasudev Menon'],
 ['Kayode Kasum'],
 ['Just Philippot'],
 ['Kirk DeMicco', 'Brandon Jeffords'],
 ['Rohit Shetty'],
 ['Cavi Borges', 'Luciano Vidigal'],
 ['Alejandro Doria'],
 ['Laura Fairrie'],
 ['Marcelo Piñeyro'],
 ['Izu Ojukwu'],
 ['Peter Winther'],
 ['Susan Lacy'],
 ['nan'],
 ['Billy Corben'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['James Mangold'],
 ['Chineze Anyaene'],
 ['Hsu Fu-chun'],
 ['Kristine Stolakis'],
 ['Eva Müller', 'Michael Schmitt'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Brian Levant'],
 ['Rod Daniel'],
 ['Robert Zemeckis'],
 ['Todor Chapkanov'],
 ['Steven Spielberg'],
 ['Phil Lord', 'Christopher Miller'],
 ['nan'],
 ['Renny Harlin'],
 ['John Hughes'],
 ['Justin Baldoni'],
 ['Joe Roth'],
 ['nan'],
 ['Mark Helfrich'],
 ['nan'],
 ['Mag Hsu', 'Hsu Chih-yen'],
 ['Christopher Nolan'],
 ['Paul Thomas Anderson'],
 ['Nick Castle'],
 ['Howard Zieff'],
 ['Howard Zieff'],
 ['David Feiss'],
 ['David Gordon Green'],
 ['Jorge Blanco'],
 ['Zara Hayes'],
 ['Gary Ross'],
 ['Clint Eastwood'],
 ['Trey Parker'],
 ['Kelly Fremon Craig'],
 ['Tom Elkins'],
 ['Tony Scott'],
 ['Brad Furman'],
 ['Sylvain White'],
 ['Brad Anderson'],
 ['Irwin Winkler'],
 ['Spike Lee'],
 ['Garry Marshall'],
 ['nan'],
 ['Kenneth Gyang'],
 ['Jaume Balagueró'],
 ['nan'],
 ['Najwa Najjar'],
 ['nan'],
 ['Selçuk Metin'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Najwa Najjar'],
 ['Keishi Otomo'],
 ['David Charhon'],
 ['Michelle Bello'],
 ['Steven Tsuchida'],
 ['nan'],
 ['Daniel Markowicz'],
 ['Louie Schwartzberg'],
 ['nan'],
 ['Glen Winter'],
 ['nan'],
 ['nan'],
 ['Ram Gopal Varma'],
 ['David Benullo'],
 ['nan'],
 ['nan'],
 ['Laxman Utekar'],
 ['Royale Watkins', 'Rich Schlansker'],
 ['Yuval Adler'],
 ['nan'],
 ['nan'],
 ['Quentin Tarantino'],
 ['Clay Glen'],
 ['Muzi Mthembu'],
 ['Marcos Bucay'],
 ['Peter Thorwarth'],
 ['nan'],
 ['Kim Seong-hun'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Augustine Frizzell'],
 ['nan'],
 ['nan'],
 ['Sidheswar Shukla'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Binayak Das'],
 ['Arpan Sarkar', 'Shyamal Chaulia'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka', 'Owll Mina'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['nan'],
 ['Ainsley Gardiner', 'Briar Grace-Smith'],
 ['Mahmoud Karim'],
 ['Kyohei Ishiguro'],
 ['Seyi Babatope'],
 ['nan'],
 ['nan'],
 ['Johane Matte', 'Andrew L. Schmidt', 'Francisco Ruiz Velasco'],
 ['Morgan Ingari'],
 ['nan'],
 ['nan'],
 ['Abdulaziz Alshlahei'],
 ['Edward Drake'],
 ['Kathryn Fasegha'],
 ['Sita Likitvanichkul',
  'Jetarin Ratanaserikiat',
  'Apirak Samudkitpaisan',
  'Thanabodee Uawithya',
  'Adirek Wattaleela'],
 ['nan'],
 ['Leigh Janiak'],
 ['nan'],
 ['Luis Estrada'],
 ['Garrett Bradley'],
 ['Sofia Coppola'],
 ['Colin Trevorrow'],
 ['Bill Condon'],
 ['Bill Condon'],
 ['David Slade'],
 ['Chris Weitz'],
 ['Catherine Hardwicke'],
 ['Hadrah Daeng Ratu'],
 ['nan'],
 ['Tommy Chong'],
 ['Fred Ouro Preto'],
 ['nan'],
 ['Mayye Zayed'],
 ['Alessandra de Rossi'],
 ['nan'],
 ['Ash Brannon', 'Chris Buck'],
 ['Alaa Eddine Aljem'],
 ['Tom Donahue'],
 ['Roberto De Feo', 'Paolo Strippoli'],
 ['Navot Papushado'],
 ['nan'],
 ['nan'],
 ['Manuel Alcalá'],
 ['Ricardo Trogi'],
 ['Semi Chellas'],
 ['nan'],
 ['Akay Mason', 'Abosi Ogba'],
 ['nan'],
 ['Viridiana Lieberman'],
 ['Nima Nourizadeh'],
 ['Daniel Růžička'],
 ['Juraj Šajmovič'],
 ['nan'],
 ['nan'],
 ['Leigh Janiak'],
 ['Femi D. Ogunsanwo'],
 ['Douglas Attal'],
 ['nan'],
 ['nan'],
 ['Kim Joo-hyung'],
 ['Avi Federgreen'],
 ['Jericca Cleland', 'Kevin Munroe'],
 ['nan'],
 ['nan'],
 ['Ahmed Siddiqui'],
 ['nan'],
 ['Hallie Meyers-Shyer'],
 ['Scott Speer'],
 ['nan'],
 ['Barry Levinson'],
 ['Tolulope Itegboje'],
 ['Camille Delamarre'],
 ['nan'],
 ['Pascal Atuma'],
 ['nan'],
 ['Oleg Trofim'],
 ['Seyi Babatope'],
 ['Mahmood Ali-Balogun'],
 ['Jan Holoubek'],
 ['nan'],
 ['Anurin Nwunembom', 'Musing Derrick'],
 ['Christine Luby'],
 ['Udoka Oyeka'],
 ['Yeo Siew Hua'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Hardik Mehta'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Rajveer Singh Maan', 'Harpeet Singh'],
 ['Youssef Chahine'],
 ['nan'],
 ['Saw Teong Hin', 'Nik Amir Mustapha', 'M.S. Prem Nath'],
 ['nan'],
 ['nan'],
 ['Rano Karno'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Pramod Pawar'],
 ['Naresh Saigal'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Leigh Janiak'],
 ['Vinil Mathew'],
 ['Neri Parenti'],
 ['nan'],
 ['Ramsey Nouah'],
 ['Bong Joon Ho'],
 ['Kim Tae-hyung'],
 ['Michael Spierig', 'Peter Spierig'],
 ['Ernie Barbarash'],
 ['Wolfgang Petersen'],
 ['Matt Ogens'],
 ['Jay Roach'],
 ['Jay Roach'],
 ['Jay Roach'],
 ['Paul Thomas Anderson'],
 ['nan'],
 ['McG'],
 ['Frank Marshall'],
 ['Nick Castle'],
 ['Victor Vu'],
 ['Chow Hin Yeung Roy'],
 ['nan'],
 ['Joel Hopkins'],
 ['John Stevenson', 'Mark Osborne'],
 ['Jennifer Yuh Nelson'],
 ['Greg Berlanti'],
 ['Garth Davis'],
 ['Malik Nejer'],
 ['Rob Marshall'],
 ['Martin Brest'],
 ['Shuko Murase'],
 ['Paul W.S. Anderson'],
 ['Garry Marshall'],
 ['Ivan Reitman'],
 ['Joel Gallen'],
 ['Claire McCarthy'],
 ['Mary Lambert'],
 ['Sidharta Tata',
  'Aco Tenriyagelli',
  'Dian Sastrowardoyo',
  'Ifa Isfansyah',
  'Jason Iskandar'],
 ['nan'],
 ['Trevor Nunn'],
 ['nan'],
 ['Gabriele Muccino'],
 ['Jim Field Smith'],
 ['Chris Koch'],
 ['J.J. Abrams'],
 ['Rob Minkoff'],
 ['Lynn Shelton'],
 ['Adam McKay'],
 ['Anton Corbijn'],
 ['Robin Bissell'],
 ['David Fincher'],
 ['John G. Avildsen'],
 ['John G. Avildsen'],
 ['John G. Avildsen'],
 ['Alan Parker'],
 ['Walter Hill'],
 ['Stephen Frears'],
 ['Bryan Bertino'],
 ['Phil Alden Robinson'],
 ['Florian Henckel von Donnersmarck'],
 ['Len Wiseman'],
 ['Måns Mårlind', 'Björn Stein'],
 ['Patrick Tatopoulos'],
 ['Robert O. Peters'],
 ['Vincent Ward'],
 ['Gregory Nava'],
 ['Mary Harron'],
 ['nan'],
 ['Matt Thompson'],
 ['Jameel Buari'],
 ['nan'],
 ['Shen Leping'],
 ['Matt Aselton'],
 ['Jose Javier Reyes'],
 ['Jakub Piątek'],
 ['nan'],
 ['John Dower'],
 ['nan'],
 ['nan'],
 ['B. T Thomas'],
 ['Andrew Dominik'],
 ['nan'],
 ['Nibal Arakji'],
 ['Sofie Šustková'],
 ['Anissa Bonnefont'],
 ['Bahij Hojeij'],
 ['Jonathan Hensleigh'],
 ['Srijit Mukherji', 'Vasan Bala', 'Abhishek Chaubey'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Justin P. Lange'],
 ['Kimmy Gatewood'],
 ['Tània Balló'],
 ['Manolo Caro'],
 ['nan'],
 ['nan'],
 ['Anurin Nwunembom'],
 ['Jayme Monjardim'],
 ['Kingsley Ogoro'],
 ['Kingsley Ogoro'],
 ['nan'],
 ['Cristina Jacob'],
 ['Cristina Jacob'],
 ['Cristina Jacob'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Fernando Moro'],
 ['nan'],
 ['Ivan Andrew Payawal'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Yoshiyuki Tomino', 'Yoshikazu Yasuhiko'],
 ['Yoshiyuki Tomino', 'Yoshikazu Yasuhiko'],
 ['Yoshiyuki Tomino'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Rob Seidenglanz'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Simon Frederick'],
 ['nan'],
 ['Michihito Fujii'],
 ['nan'],
 ['Paul Weitz'],
 ['nan'],
 ['Karthik Subbaraj'],
 ['Kayode Kasum'],
 ['Yoshiyuki Tomino', 'Yoshikazu Yasuhiko'],
 ['Keishi Otomo'],
 ['nan'],
 ['Hsu Fu-chun'],
 ['Lucky Kuswandi'],
 ['Soudade Kaadan'],
 ['Soudade Kaadan'],
 ['nan'],
 ['nan'],
 ['Antoinette Jadaone'],
 ['nan'],
 ['nan'],
 ['Marie Clements'],
 ['David O. Russell'],
 ['nan'],
 ['Achille Brice'],
 ['Max Jabs'],
 ['nan'],
 ['Sarawut Wichiensarn'],
 ['Ricardo de Montreuil'],
 ['nan'],
 ['nan'],
 ['Peter Chelsom'],
 ['Michael Lockshin'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Francine Parker'],
 ['nan'],
 ['Daniel Schechter'],
 ['nan'],
 ['nan'],
 ['Mike Gunther'],
 ['David Zeiger'],
 ['Michael Simon'],
 ['Jerry Rothwell'],
 ['nan'],
 ['Joe Berlinger', 'Bruce Sinofsky'],
 ['Ian Cheney', 'Sharon Shattuck'],
 ['Bradley Parker'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Prabhakaran'],
 ['Manjari Makijany'],
 ['Jay Oliva'],
 ['nan'],
 ['Chris Appelhans'],
 ['Michael Tiddes'],
 ['Lara Saba'],
 ['Bao Nhan', 'Namcito'],
 ['Mark Raso'],
 ['nan'],
 ['Tariq Alkazim'],
 ['Mark Raso'],
 ['Kenneth Gyang'],
 ['nan'],
 ['nan'],
 ['Yulene Olaizola'],
 ['nan'],
 ['Mark Waters'],
 ['nan'],
 ['Matthew Heineman'],
 ['nan'],
 ['Robert Peters'],
 ['Jonathan Clay'],
 ['Ally Pankiw'],
 ['George Ford'],
 ['George Ford'],
 ['nan'],
 ['Lee Kae-byeok'],
 ['nan'],
 ['Jayan Moodley'],
 ['Daniel Benmayor'],
 ['Alex Díaz'],
 ['nan'],
 ['Helena Bergström'],
 ['Alejandro De Grazia', 'Juan Stadler'],
 ['Myriam Fares'],
 ['Chiaki Kon'],
 ['nan'],
 ['Rae Red'],
 ['Lance Hool'],
 ['Nicole Conn'],
 ['Les Mayfield'],
 ['Ellen Seidler', 'Megan Siler'],
 ['nan'],
 ['Roger Christian'],
 ['nan'],
 ['Peter Galison'],
 ['Lance Young'],
 ['Leandro Neri'],
 ['Thom Fitzgerald'],
 ['nan'],
 ['Don Michael Paul'],
 ['Andrzej Bartkowiak'],
 ['Harold Becker'],
 ['nan'],
 ['Andrew Jenks'],
 ['Ric Roman Waugh'],
 ['Rob Reiner'],
 ['Andy Tennant'],
 ['Tade Ogidan'],
 ['nan'],
 ['Scott Spiegel'],
 ['Jessie Nelson'],
 ['Theodore Witcher'],
 ['Clint Eastwood'],
 ['Aurora Guerrero'],
 ['Michael Jai White'],
 ['James McTeigue'],
 ['Takuya Igarashi'],
 ['Michelle MacLaren'],
 ['nan'],
 ['Hidenori Inoue'],
 ['Hidenori Inoue'],
 ['Don Michael Paul'],
 ['Todd Phillips'],
 ['Walter Hill'],
 ['Steve Ball'],
 ['Dominic Sena'],
 ['nan'],
 ['Alan Alda'],
 ['Mika Kaurismäki'],
 ['Sydney Pollack'],
 ['Lorene Scafaria'],
 ['Barbra Streisand'],
 ['Clint Eastwood'],
 ['nan'],
 ['Michael Winterbottom'],
 ['Emma Tammi'],
 ['Peter Hutchings'],
 ['George Ratliff'],
 ['nan'],
 ['Bo Burnham'],
 ['Ekene Som Mekwunye'],
 ['David Frankel'],
 ['Kevin Johnson'],
 ['nan'],
 ['José Larraza', 'Marc Pons'],
 ['Gary Sing'],
 ['nan'],
 ['Julio Quintana'],
 ['nan'],
 ['Paween Purijitpanya'],
 ['nan'],
 ['Pablo Faro'],
 ['Soudade Kaadan'],
 ['Letizia Lamartire'],
 ['Ray Jiang'],
 ['nan'],
 ['nan'],
 ['Daniel Vernon'],
 ['Steve Gukas'],
 ['Tim Johnson'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Vishwesh Krishnamoorthy'],
 ['nan'],
 ['nan'],
 ['Zack Snyder'],
 ['nan'],
 ['nan'],
 ['Uduak-Obong Patrick'],
 ['nan'],
 ['Mohamed Diab'],
 ['Amr Salama'],
 ['Christopher Amos'],
 ['Prakash Satam'],
 ['nan'],
 ['Robert Rodriguez'],
 ['Milan Luthria'],
 ['David Ayer'],
 ['Eshom Nelms', 'Ian Nelms'],
 ['James Moll'],
 ['nan'],
 ['nan'],
 ['James Redford'],
 ['Kaashvie Nair'],
 ['J.D. Dillard'],
 ['Nikhil Pherwani'],
 ['nan'],
 ['Mae Czarina Cruz'],
 ['nan'],
 ['Praveen Kandregula'],
 ['Cecilia Verheyden'],
 ['Daniel Minahan'],
 ['nan'],
 ['Donovan Marsh'],
 ['Brent Dawes'],
 ['nan'],
 ['nan'],
 ['Leli Maki'],
 ['Uzodinma Okpechi'],
 ['Daniel Prochaska'],
 ['nan'],
 ['Joe Wright'],
 ['nan'],
 ['Matthew Vaughn'],
 ['Aditya Kripalani'],
 ['Adriano Rudiman'],
 ['David Pablos'],
 ['Alexandre Aja'],
 ['nan'],
 ['Cai Cong'],
 ['Samuel Olatunji'],
 ['Ramon Térmens'],
 ['nan'],
 ['Svetlana Cvetko'],
 ['nan'],
 ['Martin Prakkat'],
 ['Baran bo Odar'],
 ['Zhang Chong'],
 ['Yılmaz Erdoğan'],
 ['Shantrelle P. Lewis'],
 ['nan'],
 ['Ivan Ayr'],
 ['Anthony Mandler'],
 ['Vijay Roche'],
 ['nan'],
 ["Stanley Menino D'Costa"],
 ['Jennifer Brea'],
 ['Julia von Heinz'],
 ['Niels Arden Oplev'],
 ['Don Argott', 'Sheena M. Joyce'],
 ['nan'],
 ['Joshua Zeman'],
 ['nan'],
 ['nan'],
 ['Duncan Skiles'],
 ['nan'],
 ['Sean McNamara'],
 ['nan'],
 ['Vondie Curtis-Hall'],
 ['nan'],
 ['Robert Radler'],
 ['Roel Reiné'],
 ['Todd Phillips'],
 ['Dean Parisot'],
 ['Paul Greengrass'],
 ['Lasse Hallström'],
 ['Justin Kelly'],
 ['Eric Darnell', 'Tom McGrath', 'Conrad Vernon'],
 ['nan'],
 ['Suhas Kadav'],
 ['Suhas Kadav'],
 ['Suhas Kadav'],
 ['Suhas Kadav'],
 ['Suhas Kadav'],
 ['Clint Eastwood'],
 ['Jeff Wadlow'],
 ['Charles Martin'],
 ['Stella Corradi'],
 ['Roland Emmerich'],
 ['Kevin Macdonald'],
 ['Ann Deborah Fishman'],
 ['Chris Gorak'],
 ['Peter Jackson'],
 ['Roger Kumble'],
 ['Jonathan Lynn'],
 ['Courtney Hunt'],
 ['Pierre Greco', 'Nancy Florence Savard'],
 ['Andrew Davis'],
 ['Kevin Smith'],
 ['nan'],
 ['Tosin Igho'],
 ['Chaitanya Tamhane'],
 ['Oriol Paulo'],
 ['Mike Rianda', 'Jeff Rowe'],
 ['Johannes Roberts'],
 ['nan'],
 ['Robert Pulcini', 'Shari Springer Berman'],
 ['nan'],
 ['Pedro Antonio'],
 ['nan'],
 ['nan'],
 ['John Wells'],
 ['Jonathan Liebesman'],
 ['Maria Pulera'],
 ['nan'],
 ['Santhosh Viswanath'],
 ['Seema Pahwa'],
 ['nan'],
 ['Ozan Açıktan'],
 ['Meltem Bozoflu'],
 ['Hakan Algül'],
 ['Selçuk Aydemir', 'Birkan Pusa'],
 ['Selçuk Aydemir'],
 ['Ömer Faruk Sorak'],
 ['Şenol Sönmez'],
 ['Alexis Morante'],
 ['Burak Aksak'],
 ['Kıvanç Baruönü'],
 ['Kıvanç Baruönü'],
 ['Rindala Kodeih'],
 ['Kongkiat Khomsiri'],
 ['Bedran Güzel'],
 ['Hakan Algül'],
 ['Marwan Nabil'],
 ['MIKIKO', 'Daito Manabe'],
 ['nan'],
 ['Kayode Kasum'],
 ['Yılmaz Erdoğan', 'Ömer Faruk Sorak'],
 ['Takashi Shimizu'],
 ['nan'],
 ['nan'],
 ['Joe Penna'],
 ...]

In [ ]:
df_new1=pd.DataFrame(constraint1, index=df['title'])
df_new1=df_new1.stack()
df_new1=pd.DataFrame(df_new1.reset_index())
df_new1.rename(columns={0:'Director'}, inplace=True)
df_new1.drop(['level_1'], axis=1, inplace=True)
df_new1.head(50)

                                                title                Director
0                                Dick Johnson Is Dead         Kirsten Johnson
1                                       Blood & Water                     nan
2                                           Ganglands         Julien Leclercq
3                               Jailbirds New Orleans                     nan
4                                        Kota Factory                     nan
5                                       Midnight Mass           Mike Flanagan
6                    My Little Pony: A New Generation           Robert Cullen
7                    My Little Pony: A New Generation          José Luis Ucha
8                                             Sankofa            Haile Gerima
9                       The Great British Baking Show         Andy Devonshire
10                                       The Starling          Theodore Melfi
11                Vendetta: Truth, Lies and The Mafia                     nan
12                                   Bangkok Breaking       Kongkiat Komesiri
13                                       Je Suis Karl     Christian Schwochow
14                   Confessions of an Invisible Girl           Bruno Garotti
15                    Crime Stories: India Detectives                     nan
16                                  Dear White People                     nan
17  Europe's Most Dangerous Man: Otto Skorzeny in ...  Pedro de Echave García
18  Europe's Most Dangerous Man: Otto Skorzeny in ...   Pablo Azorín Williams
19                                    Falsa identidad                     nan
20                                          Intrusion              Adam Salky
21                                             Jaguar                     nan
22    Monsters Inside: The 24 Faces of Billy Milligan         Olivier Megaton
23                             Resurrection: Ertugrul                     nan
24                                    Avvai Shanmughi          K.S. Ravikumar
25       Go! Go! Cory Carson: Chrissy Takes the Wheel                Alex Woo
26       Go! Go! Cory Carson: Chrissy Takes the Wheel           Stanley Moore
27                                              Jeans              S. Shankar
28                               Love on the Spectrum                     nan
29                                     Minsara Kanavu             Rajiv Menon
30                                          Grown Ups            Dennis Dugan
31                                         Dark Skies           Scott Stewart
32                                           Paranoia          Robert Luketic
33                                    Ankahi Kahaniya     Ashwiny Iyer Tiwari
34                                    Ankahi Kahaniya        Abhishek Chaubey
35                                    Ankahi Kahaniya         Saket Chaudhary
36                                 Chicago Party Aunt                     nan
37                                      Sex Education                     nan
38                                         Squid Game                     nan
39                            Tayo and Little Wizards                     nan
40                     The Father Who Moves Mountains            Daniel Sandu
41                                     The Stronghold          Cédric Jimenez
42                                        Angry Birds                     nan
43                                Birth of the Dragon            George Nolfi
44                                       Chhota Bheem                     nan
45             He-Man and the Masters of the Universe                     nan
46                                               Jaws        Steven Spielberg
47                                             Jaws 2          Jeannot Szwarc
48                                             Jaws 3               Joe Alves
49                                  Jaws: The Revenge          Joseph Sargent

In [ ]:
# unnesting the cast column - 
constraint2=df['cast'].apply(lambda x: str(x).split(', ')).tolist()
df_new2=pd.DataFrame(constraint2, index=df['title'])
df_new2=df_new2.stack()
df_new2=pd.DataFrame(df_new2.reset_index())
df_new2.rename(columns={0:'Cast'}, inplace=True)
df_new2.drop(['level_1'], axis=1, inplace=True)
df_new2.head(50)

                    title                  Cast
0    Dick Johnson Is Dead                   nan
1           Blood & Water            Ama Qamata
2           Blood & Water           Khosi Ngema
3           Blood & Water         Gail Mabalane
4           Blood & Water        Thabang Molaba
5           Blood & Water      Dillon Windvogel
6           Blood & Water       Natasha Thahane
7           Blood & Water           Arno Greeff
8           Blood & Water     Xolile Tshabalala
9           Blood & Water       Getmore Sithole
10          Blood & Water        Cindy Mahlangu
11          Blood & Water         Ryle De Morny
12          Blood & Water       Greteli Fincham
13          Blood & Water  Sello Maake Ka-Ncube
14          Blood & Water           Odwa Gwanya
15          Blood & Water        Mekaila Mathys
16          Blood & Water         Sandi Schultz
17          Blood & Water        Duane Williams
18          Blood & Water       Shamilla Miller
19          Blood & Water      Patrick Mofokeng
20              Ganglands         Sami Bouajila
21              Ganglands          Tracy Gotoas
22              Ganglands           Samuel Jouy
23              Ganglands         Nabiha Akkari
24              Ganglands        Sofia Lesaffre
25              Ganglands      Salim Kechiouche
26              Ganglands     Noureddine Farihi
27              Ganglands  Geert Van Rampelberg
28              Ganglands       Bakary Diombera
29  Jailbirds New Orleans                   nan
30           Kota Factory            Mayur More
31           Kota Factory        Jitendra Kumar
32           Kota Factory            Ranjan Raj
33           Kota Factory             Alam Khan
34           Kota Factory         Ahsaas Channa
35           Kota Factory        Revathi Pillai
36           Kota Factory            Urvi Singh
37           Kota Factory            Arun Kumar
38          Midnight Mass           Kate Siegel
39          Midnight Mass          Zach Gilford
40          Midnight Mass      Hamish Linklater
41          Midnight Mass          Henry Thomas
42          Midnight Mass        Kristin Lehman
43          Midnight Mass       Samantha Sloyan
44          Midnight Mass           Igby Rigney
45          Midnight Mass           Rahul Kohli
46          Midnight Mass        Annarah Cymone
47          Midnight Mass         Annabeth Gish
48          Midnight Mass            Alex Essoe
49          Midnight Mass          Rahul Abburi

In [ ]:
# unnesting the listed_in column -
constraint3=df['listed_in'].apply(lambda x: str(x).split(', ')).tolist()
df_new3=pd.DataFrame(constraint3, index=df['title'])
df_new3=df_new3.stack()
df_new3=pd.DataFrame(df_new3.reset_index())
df_new3.rename(columns={0:'Genre'}, inplace=True)
df_new3.drop(['level_1'], axis=1, inplace=True)
df_new3.head()

                  title                   Genre
0  Dick Johnson Is Dead           Documentaries
1         Blood & Water  International TV Shows
2         Blood & Water               TV Dramas
3         Blood & Water            TV Mysteries
4             Ganglands          Crime TV Shows

In [ ]:
df_new3.groupby(['Genre']).agg({"title":"nunique"}).reset_index().sort_values(by=['title'], 
                                                                                 ascending=False)

                           Genre  title
16          International Movies   2752
12                        Dramas   2427
7                       Comedies   1674
17        International TV Shows   1351
10                 Documentaries    869
0             Action & Adventure    859
34                     TV Dramas    763
15            Independent Movies    756
4       Children & Family Movies    641
24               Romantic Movies    616
33                   TV Comedies    581
41                     Thrillers    577
8                 Crime TV Shows    470
18                      Kids' TV    451
11                    Docuseries    395
22              Music & Musicals    375
25             Romantic TV Shows    370
14                 Horror Movies    357
30               Stand-Up Comedy    343
23                    Reality TV    255
3               British TV Shows    253
26              Sci-Fi & Fantasy    243
29                 Sports Movies    219
2                   Anime Series    176
28     Spanish-Language TV Shows    174
32         TV Action & Adventure    168
19               Korean TV Shows    151
6                 Classic Movies    116
20                  LGBTQ Movies    102
36                  TV Mysteries     98
27           Science & Nature TV     92
37           TV Sci-Fi & Fantasy     84
35                     TV Horror     75
1                 Anime Features     71
9                    Cult Movies     71
40                 Teen TV Shows     69
13          Faith & Spirituality     65
39                  TV Thrillers     57
21                        Movies     57
31  Stand-Up Comedy & Talk Shows     56
5              Classic & Cult TV     28
38                      TV Shows     16

In [ ]:
# unnesting the country column -
constraint4=df['country'].apply(lambda x: str(x).split(', ')).tolist()
df_new4=pd.DataFrame(constraint4, index=df['title'])
df_new4=df_new4.stack()
df_new4=pd.DataFrame(df_new4.reset_index())
df_new4.rename(columns={0:'Country'}, inplace=True)
df_new4.drop(['level_1'], axis=1, inplace=True)
df_new4.head()

                   title        Country
0   Dick Johnson Is Dead  United States
1          Blood & Water   South Africa
2              Ganglands            nan
3  Jailbirds New Orleans            nan
4           Kota Factory          India

In [ ]:
df_new4.groupby(['Country']).agg({"title":"nunique"}).reset_index().sort_values(by=['title'], 
                                                                                 ascending=False)

            Country  title
119   United States   3689
47            India   1046
127             nan    831
117  United Kingdom    804
22           Canada    445
..              ...    ...
70         Mongolia      1
101         Somalia      1
36         Ethiopia      1
15         Botswana      1
88          Poland,      1

[128 rows x 2 columns]

In [ ]:
# merging the unnested director data with unnested cast data
df_new5=df_new2.merge(df_new1, on=['title'], how='inner')
# merging the above merged data with unnested genre data
df_new6=df_new5.merge(df_new3, on=['title'], how='inner')
# merging the above merged data with unnested country data
df_new=df_new6.merge(df_new4, on=['title'], how='inner')

# replacing nan values of director and cast by Unknown 
df_new['Cast'].replace(['nan'], ['Unknown'], inplace=True)
df_new['Director'].replace(['nan'], ['Unknown'], inplace=True)
df_new['Country'].replace(['nan'], [np.nan], inplace=True)

df_new.head()

,title,Cast,Director,Genre,Country
0,Dick Johnson Is Dead,Unknown,Kirsten Johnson,Documentaries,United States
1,Blood & Water,Ama Qamata,Unknown,International TV Shows,South Africa
2,Blood & Water,Ama Qamata,Unknown,TV Dramas,South Africa
3,Blood & Water,Ama Qamata,Unknown,TV Mysteries,South Africa
4,Blood & Water,Khosi Ngema,Unknown,International TV Shows,South Africa